$primary: #00c689 !default;
$primary--hover: #22dea4;
$primary--active: #267f64;
$primary--border: #00b37c;

$secondary: #009c6c !default;
$secondary--hover: #00ad78;
$secondary--active: #007a54;

$danger: #dc3545 !default;

$min-screen-width: 320px;

$header-height: 60px;
$sidebar-width: 250px;
