@import 'assets/scss/variables';
@import 'assets/scss/media';

.logo {
  position: relative;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: $primary;

  & svg,
  & img {
    width: 80%;
    @include center();
  }
}
