@import 'assets/scss/variables';
@import 'assets/scss/media';

.dashboard {
  &__summary {
    margin-bottom: 1rem;
  }

  &__balance {
    display: grid;
    @include grid(xs, 1);
    @include grid(sm, 2);
    @include grid(md, 3);
    @include grid(lg, 4);
    @include grid(xl, 5);

    & .card {
      margin: 1rem;

      &,
      &-header {
        transition: 0.5s;
      }

      &:hover {
        &,
        & .card-header {
          border-color: $primary;
        }
      }

      &-text {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & i,
        & svg {
          width: 20px;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
