@import 'assets/scss/variables';

.logo {
  position: relative;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: $primary;

  & svg,
  & img {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
