@import 'assets/scss/variables';

.header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;

  display: flex;
  align-items: center;

  padding: 1rem;
  margin-bottom: 1rem;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  &__menu {
    width: 40px;
    height: 40px;
    background: transparent;
    outline: none !important;
    border: none;

    &:hover {
      color: $primary;
    }
  }

  &__user {
    text-align: right;
    margin: 0;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border-right: 1px solid #ccc;
  }

  &__toggle-sidebar {
    & span {
      width: 34px;
      height: 4px;
      background-color: $primary;
      display: block;
      transition: 0.5s;

      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 6px;
      }
    }

    &.active {
      & span:nth-child(1) {
        transform: rotateZ(-45deg) translate(-7px, 7px);
      }

      & span:nth-child(2) {
        opacity: 0;
      }

      & span:nth-child(3) {
        transform: rotateZ(45deg) translate(-7px, -7px);
      }
    }
  }
}

.navbar {
  padding-right: 0;

  & ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
